services:
  api:
    build: .
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    environment:
      APP_ENV: dev
      APP_VERSION: 0.1.0
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: unless-stopped
